* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  background-color: #1f2833;
}

.container {
  max-width: 120rem;
  margin: auto;
  padding: 0 3.2rem;
  position: relative;
}

.scroll-to-top {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border-style: none;
  background-color: #3cf1e5;
}

.scroll-to-top i {
  font-size: 25px;
  color: #1f2833;
}

.cover {
  display: none !important;
}

.appear {
  position: fixed;
  display: block;
  bottom: 50px;
  right: 50px;
}

/* Header */

.main-header {
  position: sticky;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 25px;
  font-size: 1.5rem;
  background-color: #1f2833;
}

.nav-bar {
  display: flex;
  gap: 5rem;
}

.nav-link {
  font-family: Source Code Pro;
  text-decoration: none;
  color: #3cf1e5;
}

.header-options {
  display: flex;
  gap: 10px;
}

.fa-sun,
.fa-moon {
  font-size: 2rem;
  color: #3cf1e5;
  line-height: 2;
}

.fa-sun:hover,
.fa-moon:hover {
  cursor: pointer;
}

.contact-button {
  font-family: Roboto Condensed, sans-serif;
  color: #1f2833;
  background-color: #3cf1e5;
  padding: 10px;
  border-style: none;
  border-radius: 2px;
}

.contact-button:hover {
  cursor: pointer;
}

/* Hero */

.hero {
  display: grid;
  align-content: center;
  justify-content: center;
  gap: 1rem;
  padding: 20rem 0;
}

.hero h3 {
  color: #c5c6c7;
  font-family: Source Code Pro;
  font-size: 1.5rem;
  text-transform: uppercase;
  letter-spacing: 2px;
}

.hero p {
  color: #c5c6c7;
  font-family: Source Code Pro;
  font-size: 1.5rem;
  text-transform: uppercase;
  letter-spacing: 2px;
  text-align: center;
}

.hero-name {
  font-family: Roboto Condensed, sans-serif;
  font-size: 15rem;
  color: #3cf1e5;
  text-transform: uppercase;
}

/* Bio */

.bio {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  justify-items: center;
  align-items: center;
  max-width: 100rem;
  margin: auto;
}

.bio-header {
  font-family: Roboto Condensed, sans-serif;
  font-size: 8rem;
  color: #3cf1e5;
  text-transform: uppercase;
}

.bio-copy {
  color: #c5c6c7;
  font-family: Roboto Condensed, sans-serif;
  font-size: 2rem;
  line-height: 1.5;
}

.bio-pic {
  width: 50%;
  border-radius: 50%;
}

/* Projects */

.projects {
  max-width: 100rem;
  margin: auto;
}

.projects-header {
  font-family: Roboto Condensed, sans-serif;
  font-size: 8rem;
  color: #3cf1e5;
  text-transform: uppercase;
  justify-items: start;
}

.projects-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  justify-items: center;
  align-items: center;
  max-width: 100rem;
  margin: auto;
  gap: 5rem;
}

.project-container {
  background-color: #c5c6c7;
}

/* testimonials */

.testimonials {
  max-width: 100rem;
  margin: auto;
}

.testimonials-header {
  font-family: Roboto Condensed, sans-serif;
  font-size: 8rem;
  color: #3cf1e5;
  text-transform: uppercase;
  justify-items: start;
}

.testimonial-grid {
  display: grid;
  justify-items: center;
  align-items: center;
  max-width: 100rem;
  margin: auto;
  gap: 5rem;
}

.testimonial-grid {
  color: #c5c6c7;
  font-family: Roboto Condensed, sans-serif;
  font-size: 1.5rem;
  line-height: 1.5;
}
